{% extends "master/user_layout.html" %}

{% block content %}


<div class="content-wrapper">
    <div class="container-full">
        <!-- Content Header (Page header) -->
        <div class="content-header">
            <div class="d-flex align-items-center">
                <div class="me-auto">
                    <h4 class="page-title">پیشخوان کاربر</h4>
                    <div class="d-inline-block align-items-center">
                        <nav>
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a href="{{ url_for('profile_index') }}"><i
                                            class="mdi mdi-home-outline"></i></a></li>
                            </ol>
                        </nav>
                    </div>
                </div>

            </div>
        </div>

        <!-- Main content -->
        <section class="content">
            <div class="row">


                <div class="topdiv shadow">
                    <div class="col-sm-4">
                        شناسه کاربر<br><br>
                        <p><strong>{{ userinfo }}</strong></p>
                    </div>
                </div>

                <!-- /.col-->
            </div>
            <!-- ./row -->
        </section>
        <!-- /.content -->
    </div>
</div>

{% endblock %}