{% extends "master/user_layout.html" %}

{% block content %}


<div class="container" style="margin-top:20px"><div class="row"><div class="col-sm-1"></div>
<div class="col-sm-10">
<div class="topdiv shadow">


    <div style=" display: contents; ">

        <div class="col-sm-4">
            نام<br><br>
            <p><strong>{{ userinfo.uname }}</strong></p>
        </div>

        <div class="col-sm-4">
            نام خانوادگی<br><br>
            <p><strong>{{ userinfo.ufamily }}</strong></p>
         </div>

        <div class="col-sm-4">
            کد ملی<br><br>
            <p><strong>{{ userinfo.uiid }}</strong></p>
        </div>

        <div class="col-sm-4">
            تاریخ تولد<br><br>
            <p><strong>{{ userinfo.ubirthday }}</strong></p>
            </div>

        <div class="col-sm-4">
            ایمیل<br><br>
            <p><strong>{{ userinfo.uemail }}</strong></p>
        </div>

        <div class="col-sm-4">
            آدرس<br><br>
            <p><strong>{{ userinfo.uaddress }}</strong></p>
                <input type="text" class="form-control" name="uaddress" id="uaddress" class="btnrqst" placeholder="آدرس" required>
        </div>

    <div class="col-sm-4">
        وضعیت احراز هویت
        <br><br>
        <p><strong>{{ userinfo.uverification }}</strong></p>

    </div>
    
</div>




</div>
</div>
<div class="col-sm-1"></div></div></div>

{% endblock %}