{% extends "master/admin_layout.html" %}

{% block content %}

<div class="content-wrapper">
  <div class="container-full">
    <!-- Content Header (Page header) -->
    <div class="content-header">
      <div class="d-flex align-items-center">
        <div class="me-auto">
          <h4 class="page-title">پیشخوان مدیر</h4>
          <div class="d-inline-block align-items-center">
            <nav>
              <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="{{ url_for('admin_dashboard') }}"><i
                      class="mdi mdi-home-outline"></i></a></li>
              </ol>
            </nav>
          </div>
        </div>

      </div>
    </div>

    <!-- Main content -->
    <section class="content">
      <div class="row">
        
<div class="flexbox align-items-center mt-10" style="margin: 10%;">
  <div>
    <p class="no-margin fw-600">پیشخوان مدیر</p>
    <div class="clearfix">
      <a type="button" href="{{ url_for('admin_faq') }}"
        class="waves-effect waves-light fw-600 btn btn-rounded btn-light mb-5 fs-14 p-1 px-3 me-1 mt-3">سوالات
        متداول</a>
      <!-- <a type="button" href="{{ url_for('admin_about') }}" class="waves-effect waves-light fw-600 btn btn-rounded btn-light mb-5 fs-14 p-1 px-3 me-1 mt-3">درباره -->
      </a><a type="button" href="{{ url_for('admin_member') }}"
        class="waves-effect waves-light fw-600 btn btn-rounded btn-light mb-5 fs-14 p-1 px-3 me-1 mt-3">لیست اعضا</a>
        <a type="button" href="{{ url_for('admin_consultation') }}"
        class="waves-effect waves-light fw-600 btn btn-rounded btn-light mb-5 fs-14 p-1 px-3 me-1 mt-3">درخواست های
        مشاوره</a>
        <a type="button" href="{{ url_for('admin_contact') }}"
        class="waves-effect waves-light fw-600 btn btn-rounded btn-light mb-5 fs-14 p-1 px-3 me-1 mt-3">مدیریت تماس ها</a>
    </div>
  </div>
</div>

        <!-- /.col-->
      </div>
      <!-- ./row -->
    </section>
    <!-- /.content -->
  </div>
</div>

{% endblock %}