{% extends "master/layout.html" %}

{% block content %}

<section class="py-100">

    <div class="container">
        <div class="row align-items-center" style="line-height: 2;">
            <div>
                <h2 class="mb-10">درباره ما</h2>
                <h4 class="fw-400">سرمایه‌گذاری در ساخت و ساز از پرسودترین فعالیت های اقتصادی در کشور است.</h4>
                <p class="fs-16">
                    <br />
                    صاب‌ملک پلت‌فرم تامین مالی جمعی و بدون وقفه پروژه‌های ساخت با مدیریت سودآور برای سرمایه‌گذاران است.
                    سرمایه‌گذاری در ساخت و ساز از پرسودترین فعالیت های اقتصادی در کشور است. اما ورد به این حوزه نیازمند
                    تخصص، سرمایه زیاد، و صرف وقت و انرژی قابل توجه است. ما می‌خواهیم مردم عادی هم بدون نیاز به صرف وقت و
                    هزینه ی قابل توجه و با هر مقدار سرمایه در این فعالیت اقتصادی شرکت کنند. به همین منظور با تحقیقات
                    فراوان و مطالعه‌ی تجربیات سازندگان مختلف، تعاونی‌های مسکن، شرکت‌های سرمایه‌گذاری مسکن و سرمایه
                    گذاران حقیقی، مدل منحصربه‌فردی را طراحی کرده‌ایم که با تامین مالی جمعی به مدیریت سرمایه گذاری در
                    پروژه های ساخت بپردازیم.
                    <br />
                    هدف اصلی در طراحی پلتفرم صاب‌ملک بهینه‌سازی سود و حداقل سازی ریسک برای مشتریان صاب‌ملک، بدون نیاز به
                    تخصص یا صرف وقت از طرف مشتری بوده است. در پلتفرم ما، سازندگان به عنوان پیمانکار به ساخت پروژه
                    می‌پردازند و صرفاً با مدیریت پیمان کسب درآمد می‌کنند. سازندگان در پروژه‌های صاب‌ملک درآمد مشخصی از
                    پروژه کسب می‌کنند که از پیش تعیین شده است و در صورت اجرای بهینه و به موقع می‌تواند تا مقدار محدودی
                    افزایش یابد. شرکت صاب‌ملک نیز مسئول تامین مالی و مدیریت ورود، اجرا، و فروش پروژه‌ها است. در قبال این
                    خدمات شرکت صاب‌ملک درصدی از معاملات خرید و فروش به عنوان کمیسیون دریافت می‌کند. و در نهایت
                    سرمایه‌گذاران، که مشتریان صاب‌ملک هستند، مالک تقریباً همه‌ی سود ایجاد شده در فعالیت ساخت و ساز
                    خواهند بود.
                    <br />
                    ما در صاب‌ملک با ایجاد اکوسیستمی که در آن منافع همه‌ی بازیگران هم‌راستا با منافع سرمایه‌گذاران باشد،
                    از ریسک‌های سرمایه‌گذاری تا حد ممکن کاسته‌ایم. تنها راه درآمدی ما فقط از کمیسیون ورود و خروج سرمایه
                    می‌باشد. لذا خود ما هم انگیزه داریم که بیشترین سود را برای مشتریانمان ایجاد کنیم. ما بر فعالیت
                    سازنده نظارت دقیق داریم و حسن اجرای پروژه را به صورت روزانه رصد می‌کنیم. برای این‌که سازنده انگیزه‌ی
                    درونی برای ساخت سریع و با بهترین قیمت داشته باشد، علاوه‌بر مشوق‌های قراردادی، سازنده‌ها در صاب‌ملک
                    موظف هستند تا تعدادی از صاب‌های پروژه را خریداری کنند.
                    <br />
                    علاوه بر یک اکوسیستم بهینه داخلی، ما در صاب‌ملک اقدام به ایجاد تیم‌های تخصصی و روابط بلندمدت
                    استراتژیک با بازیگران دیگر می‌کنیم. تیم‌های تخصصی صاب‌ملک با تجربه‌ی کار بر روی پروژه‌های مختلف و
                    مدیریت علمی و متمرکز، بسیاری از ریسک‌هایی که یک سرمایه‌گذار حقیقی را تهدید می‌کند کاهش داده یا به
                    کلی برطرف می‌کنند. از طرف دیگر، صاب‌ملک به واسطه‌ی تعداد و حجم پروژه‌ها دارای آشنایی کامل با
                    بازیگران موثر و شرایط موجود در بازار است.
                </p>
                <br />
                <!-- 
                <p>
                <h3>
                    <b>
                        اهداف ما
                    </b>
                </h3>
                <br />
                ایجاد فرصت‌های جذاب در سرمایه گذاری مسکن برای همه ی افراد
                <br />
                ایجاد تحول در فرآیند مدیریت ساخت و جذب سرمایه در صنعت ساختمان کشور
                <br />
                فراهم کردن امنیت در سرمایه‌گذاری به خصوص برای سرمایه های خرد
                <br />
                <h3>
                    <b>
                        اصول ما
                    </b>
                </h3>
                <br />
                شفافیت و پاسخگویی
                <br />
                اصالت راهکارهای علمی و تکنولوژیکی
                <br />
                خطرپذیری مسئولانه

                </p>
                 -->
            </div>
        </div>
    </div>

</section>

{% endblock %}